---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Weather Data Importer
  darksky_influx:
    image: erwinsteffens/darksky-influxdb:{{ dark_sky.version }}
    restart: always
    networks:
      - traefik_network
    environment:
      - DARKSKY_KEY={{ darksky_key }}
      # This is every 2 minutes. This is about as fast as you can go with the free API keys without running out of queries.
      - CRON=0 */2 * * * *
      - INFLUXDB_HOST=influxdb
      - INFLUXDB_DATABASE=darksky
      - DARKSKY_LATITUDE={{ latitude }}
      - DARKSKY_LONGITUDE={{ longitude }}
