---
services:
  # VPN Access
  openvpn:
    cap_add:
      - NET_ADMIN
    image: kylemanna/openvpn:{{ openvpn.version }}
    ports:
      - "1194:1194/udp"
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/openvpn:/etc/openvpn"
