---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  ownphotos:

services:
  proxy:
    image: guysoft/ownphotos-proxy
    tty: true
    networks:
      - traefik_network
      - ownphotos
    restart: always
    labels:
      - "traefik.http.services.ownphotos.loadbalancer.server.scheme=http"
      - "traefik.http.services.ownphotos.loadbalancer.server.port=80"
{% include './labels.j2' %}

  ownphotos-db:
    image: postgres:{{ ownphotos.db_version }}
    networks:
      - ownphotos
    restart: always
    environment:
      - POSTGRES_PASSWORD="{{lookup('password', './settings/passwords/ownphotos_db_password chars=ascii_letters')}}"
      - POSTGRES_DB=ownphotos
    volumes:
      - "{{ volumes_root }}/ownphotos/db-data:/var/lib/postgresql/data"

  frontend:
    image: hooram/ownphotos-frontend:{{ ownphotos.version }}
    networks:
      - ownphotos
    tty: true
    environment:
      - BACKEND_HOST={% if ownphotos.domain %}{{ ownphotos.domain }}{% else %}{{ ownphotos.subdomain + "." + domain }}{% endif %}

  backend:
    image: hooram/ownphotos:{{ ownphotos.version }}
    networks:
      - ownphotos
    volumes:
      - "{{ storage_dir }}/Pictures:/data"
      - "{{ volumes_root }}/ownphotos/thumbnails/:/code/protected_media"
      - "{{ volumes_root }}/ownphotos/logs:/code/logs"
    environment:
      - SECRET_KEY="{{lookup('password', './settings/passwords/ownphotos_secret_key chars=ascii_letters')}}"
      - BACKEND_HOST=backend # DON'T CHANGE ME
      - ADMIN_EMAIL={{ admin_email }}
      - ADMIN_USERNAME={{ default_username }}
      - ADMIN_PASSWORD="{{lookup('password', './settings/passwords/ownphotos_admin_password chars=ascii_letters')}}"
      - DEBUG=false
      - DB_BACKEND=postgresql
      - DB_NAME=ownphotos
      - DB_USER=postgres
      - DB_PASS="{{lookup('password', './settings/passwords/ownphotos_db_password chars=ascii_letters')}}"
      - DB_HOST=ownphotos-db
      - DB_PORT=5432
      - REDIS_HOST=ownphotos-redis
      - REDIS_PORT=6379
      - MAPBOX_API_KEY={{ mapbox_api_key }}

  ownphotos-redis:
    networks:
      - ownphotos
    image: redis:{{ ownphotos.redis_version }}
    container_name: ownphotos-redis
