

networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  linkding:
    image: sissbruecker/linkding:{{ linkding.version }}
    volumes:
      - "{{ volumes_root }}/linkding/data:/etc/linkding/data"
    environment:
      - LD_DISABLE_BACKGROUND_TASKS=False
      # Option to disable background tasks
      - LD_DISABLE_URL_VALIDATION=False
      # Option to disable URL validation for bookmarks completely
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.linkding.loadbalancer.server.scheme=http"
      - "traefik.http.services.linkding.loadbalancer.server.port=9090"
{% include './labels.j2' %}
