---
{% if not transmission.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # Torrent Downloader https://homelabos.com/docs/software/transmission/
  transmission:
    image: linuxserver/transmission:{{ transmission.version }}
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/transmission/config:/config"
      - "{{ storage_dir }}/data/downloads:/downloads"
      - "{{ storage_dir }}/watch:/watch"
    environment:
      - PGID={{ gid_output.stdout }}
      - PUID={{ uid_output.stdout }}
      - TZ={{ common_timezone }}
      - TRANSMISSION_WEB_HOME=/kettu/
{% if transmission.vpn %}
    network_mode: container:vpn-vpn-1
{% if transmission.watch %}
    labels:
      - "diun.enable=true"
{% endif %}
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.transmission.loadbalancer.server.scheme=http"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
{% include './labels.j2' %}
{% endif %}
