---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  documentserver:

services:

  documentserver-rabbitmq:
    image: rabbitmq:{{documentserver.rabbitmq_version }}
    restart: unless-stopped
    networks:
      - documentserver

  documentserver-db:
    image: postgres:{{documentserver.db_version}}
    environment:
      - POSTGRES_DB=onlyoffice
      - POSTGRES_USER=onlyoffice
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - documentserver
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/documentserver/postgres:/var/lib/postgresql"

  documentserver:
    image: onlyoffice/documentserver:{{ documentserver.version }}
    networks:
      - traefik_network
      - documentserver
    restart: unless-stopped
    environment:
      - DB_TYPE=postgres
      - DB_HOST=documentserver-db
      - DB_PORT=5432
      - DB_NAME=onlyoffice
      - DB_USER=onlyoffice
      - AMQP_URI=amqp://guest:guest@documentserver-rabbitmq
      - FORCE_SSL=false
      - JWT_ENABLED=true
      - JWT_SECRET={{lookup('password', './settings/passwords/documentserver_password chars=ascii_letters')}}
      - JWT_HEADER=Authorization
      - JWT_IN_BODY=true
    volumes:
      - "{{ volumes_root }}/documentserver/logs:/var/log/onlyoffice"
      - "{{ volumes_root }}/documentserver/data:/var/www/onlyoffice/Data"
      - "{{ volumes_root }}/documentserver/cache:/var/onlyoffice"
    depends_on:
      - documentserver-db
      - documentserver-rabbitmq
    labels:
      - "traefik.http.services.documentserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.documentserver.loadbalancer.server.port=80"
{% include './labels.j2' %}
