---
{% if not mylar.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  mylar:
    image: linuxserver/mylar3:{{ mylar.version }}
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/mylar/config:/config"
      - "{{ storage_dir }}/Books/Comics:/comics"
      - "{{ storage_dir }}/Downloads/Books/Comics:/downloads"
    restart: unless-stopped
{% if sonarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.mylar.loadbalancer.server.scheme=http"
      - "traefik.http.services.mylar.loadbalancer.server.port=8090"
{% include './labels.j2' %}
{% endif %}
