---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  guacamole:

services:

  init-guacamole-db:
    image: guacamole/guacamole:{{ guacamole.version }}
    command: ["/bin/sh", "-c", "test -e /init/initdb.sql && echo 'init file already exists' || /opt/guacamole/bin/initdb.sh --postgres > /init/initdb.sql" ]
    volumes:
      - "{{ volumes_root }}/guacamole/dbinit:/init"

  guacpostgres:
    networks:
      - guacamole
    image: postgres:{{ guacamole.db_version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/guacamole/dbinit:/docker-entrypoint-initdb.d"
      - "{{ volumes_root }}/guacamole/dbdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: guacpostgress
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/postgres_password chars=ascii_letters')}}"
    depends_on:
      - init-guacamole-db

  guacd:
    networks:
      - guacamole
    image: guacamole/guacd:{{ guacamole.proxy_version }}
    restart: unless-stopped

  guac:
    image: guacamole/guacamole:{{ guacamole.version }}
    networks:
      - traefik_network
      - guacamole
    restart: unless-stopped
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: guacpostgres
      POSTGRES_DATABASE: guacpostgress
      POSTGRES_USER: guacpostgress
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/postgres_password chars=ascii_letters')}}"
    depends_on:
      - guacpostgres
      - guacd
    labels:
      - "traefik.http.services.guacamole.loadbalancer.server.scheme=http"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
{% include './labels.j2' %}
