---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  esphome:

services:
  esphome:
    image: ghcr.io/esphome/esphome:{{ esphome.version }}
    networks:
      - traefik_network
      - esphome
    restart: unless-stopped
    environment:
      - USERNAME={{ default_username }}
      - PASSWORD={{ default_password }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/esphome/config:/config"
    labels:
      - "traefik.http.services.esphome.loadbalancer.server.scheme=http"
      - "traefik.http.services.esphome.loadbalancer.server.port=6052"
{% include './labels.j2' %}
