---
# by default, the FreshRSS image can use SQLite (and thus requires no separate database container)
# some PostgresSQL example information is included for demonstration purposes (especially environment-variable-based configuration)



networks:
  traefik_network:
    name: homelabos_traefik

services:
  jekyll:
    image: httpd:2-alpine
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/jekyll/_site:/usr/local/apache2/htdocs/:ro"
    labels:
      - "traefik.http.services.jekyll.loadbalancer.server.scheme=http"
      - "traefik.http.services.jekyll.loadbalancer.server.port=80"
{% include './labels.j2' %}
