---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  scrutiny:
    image: ghcr.io/analogj/scrutiny:{{ scrutiny.version }}
    restart: unless-stopped
    cap_add:
      - SYS_RAWIO
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    devices:
{% for device in scrutiny_devices %}
      - "/dev/{{ device }}:/dev/{{ device }}"
{% endfor %}
    networks:
      - traefik_network
    volumes:
      -  "/run/udev:/run/udev:ro"
      - "{{ volumes_root }}/scrutiny/config:/opt/scrutiny/config"
      - "{{ volumes_root }}/scrutiny/influxdb:/opt/scrutiny/influxdb"
    labels:
      - "traefik.http.services.scrutiny.loadbalancer.server.scheme=http"
      - "traefik.http.services.scrutiny.loadbalancer.server.port=8080"
{% include './labels.j2' %}
