---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  beets:
    image: linuxserver/beets:{{ beets.version }}
    networks:
      - traefik_network
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - "{{ volumes_root }}/beets/config:/config"
      - "{{ storage_dir }}/data/media/Music:/music"
      - "{{ storage_dir }}/Downloads/music/deemix:/downloads"
    restart: unless-stopped
    labels:
      - "traefik.http.services.beets.loadbalancer.server.scheme=http"
      - "traefik.http.services.beets.loadbalancer.server.port=8337"
{% include './labels.j2' %}
