---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  app:
    image: gotify/server:{{ gotify.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/gotify/data:/app/data"
    labels:
      - "traefik.http.services.gotify.loadbalancer.server.scheme=http"
      - "traefik.http.services.gotify.loadbalancer.server.port=80"
{% include './labels.j2' %}
