---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Dashboard
  organizr:
    image: organizr/organizr:{{ organizr.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - fpm={{ organizr.fpm }}
      - branch={{ organizr.branch }}
    volumes:
      - "{{ volumes_root }}/organizr:/config"
    labels:
      - "traefik.http.services.organizr.loadbalancer.server.scheme=http"
      - "traefik.http.services.organizr.loadbalancer.server.port=80"
{% include './labels.j2' %}
