---
networks:
  traefik_network:
    external:
    name: homelabos_traefik

services:
  app:
    image: gregyankovoy/chowdown:{{ chowdown.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/chowdown/config:/config"
    labels:
      - "traefik.http.services.chowdown.loadbalancer.server.scheme=http"
      - "traefik.http.services.chowdown.loadbalancer.server.port=4000"
{% include './labels.j2' %}
