---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  linkace:

services:

  # --- mariadb
  db:
    image: mariadb:{{ linkace.db_version }}
    restart: unless-stopped
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    networks:
      - linkace
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/linkace_db_root_password chars=ascii_letters')}}
      - MYSQL_USER=linkace
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/linkace_db_password chars=ascii_letters')}}
      - MYSQL_DATABASE=linkace
    volumes:
      - "{{ volumes_root }}/linkace/db:/var/lib/mysql"

  # --- LinkAce Image with PHP 7.4
  linkace:
    image: linkace/linkace:{{ linkace.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - linkace
    depends_on:
      - db
    environment:
      - APP_KEY={{ linkace_app_key }}
      - SETUP_COMPLETED=true
      - DB_HOST=db
      - DB_DATABASE=linkace
      - DB_USERNAME=linkace
      - DB_PASSWORD={{lookup('password', './settings/passwords/linkace_db_password chars=ascii_letters')}}
#      - REDIS_PASSWORD={{lookup('password', './settings/passwords/linkace_redis_password chars=ascii_letters')}}
#      - SESSION_DRIVER=redis
#      - CACHE_DRIVER=redis
    volumes:
      - "{{ volumes_root }}/linkace/logs:/app/storage/logs"
      - "{{ storage_dir }}/backup/linkace:/app/storage/app/backups"
    labels:
      - "traefik.http.services.linkace.loadbalancer.server.scheme=http"
      - "traefik.http.services.linkace.loadbalancer.server.port=80"
{% include './labels.j2' %}
