---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  app:
    image: henrywhitaker3/speedtest-tracker:{{ speedtest.version }}
    volumes:
      - "{{ volumes_root }}/speedtest/data:/var/www/html/data"
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - OOKLA_EULA_GDPR=True
    labels:
      - "traefik.http.services.speedtest.loadbalancer.server.scheme=http"
      - "traefik.http.services.speedtest.loadbalancer.server.port=80"
{% include './labels.j2' %}
