---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  trilium:
    image: zadam/trilium:{{ trilium.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/trilium/trilium-data:/root/trilium-data"
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.trilium.loadbalancer.server.scheme=http"
      - "traefik.http.services.trilium.loadbalancer.server.port=8080"
{% include './labels.j2' %}
