---
{% if not calibrecontent.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  calibrecontent:
    image: ghcr.io/pete-hamlin/calibre-content-server:{{ calibrecontent.version }}
    restart: always
    volumes:
      - "{{ storage_dir }}/data/media/Books:/data/media/Books"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - PORT=8081
      - ENABLE_AUTH=1
      - USERNAME={{ default_username }}
      - PASSWORD={{lookup('password', './settings/passwords/calibrecontent_password chars=ascii_letters')}}
      - ROOT_DIR=/data/media/Books
{% if calibrecontent.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.calibrecontent.loadbalancer.server.scheme=http"
      - "traefik.http.services.calibrecontent.loadbalancer.server.port=8081"
{% include './labels.j2' %}
{% endif %}
