---
{% if not tubesync.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # TV Downloader
  tubesync:
    image: ghcr.io/meeb/tubesync:{{ tubesync.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/tubesync/config:/config"
      - "{{ volumes_root }}/tubesync/nginx.conf:/etc/nginx/nginx.conf"
      - "{{ storage_dir }}/Videos/youtube:/data"
{% if tubesync.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.tubesync.loadbalancer.server.scheme=http"
      - "traefik.http.services.tubesync.loadbalancer.server.port=4848"
{% include './labels.j2' %}
{% endif %}
