---
networks:
{% if not calibre.vpn %}
  traefik_network:
    external: true
    name: homelabos_traefik
{% else %}
  calibre_network:
    name: calibre
{% endif %}

services:
  calibre:
    image: crocodilestick/calibre-web-automated:{{ calibre.version }}
    restart: always
    volumes:
      - "{{ storage_dir }}/data/media/Books:/calibre-library:rw"
      - "{{ storage_dir }}/Downloads/books:/cwa-book-ingest:rw"
      - "{{ volumes_root }}/calibre/config:/config:rw"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - DOCKER_MODS=linuxserver/mods:universal-calibre-v7.16.0
{% if calibre.vpn %}
    network_mode: container:vpn-vpn-1
  calibre-downloader:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:{{ calibre.dl_version }}
    network_mode: container:vpn-vpn-1
    environment:
      FLASK_PORT: 8084
      FLASK_DEBUG: false
      CLOUDFLARE_PROXY_URL: http://cloudflarebypassforscraping:8000
      INGEST_DIR: /ingest
      BOOK_LANGUAGE: en
    restart: unless-stopped
    volumes:
      - "{{ storage_dir }}/Downloads/books:/cwa-book-ingest:rw"

  cloudflarebypassforscraping:
    networks:
      - calibre_network
    image: ghcr.io/sarperavci/cloudflarebypassforscraping:latest
    restart: unless-stopped
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.calibre.loadbalancer.server.scheme=http"
      - "traefik.http.services.calibre.loadbalancer.server.port=8083"
{% include './labels.j2' %}
{% endif %}
