---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  bulletnotes:

services:
  bulletnotes_db:
    image: mongo:{{ bulletnotes.db_version }}
    networks:
      - bulletnotes
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes:{{ bulletnotes.version }}
    networks:
      - traefik_network
      - bulletnotes
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://{{ service_domain }}
    labels:
      - "traefik.http.services.bulletnotes.loadbalancer.server.scheme=http"
      - "traefik.http.services.bulletnotes.loadbalancer.server.port=3000"
{% include './labels.j2' %}
