watch:
  workers: 20
  schedule: "0 */6 * * *"
  firstCheckNotif: false

providers:
  docker:
    watchByDefault: false

notif:
  matrix:
    homeserverURL: https://matrix.{{ domain }}
    user: "@{{ diun_user }}:{{ domain }}"
    password: {{ diun_password }}
    roomID: "{{ diun_room }}:{{ domain }}"
    msgType: notice
{% raw %}
    templateBody: |
      Docker tag {{ .Entry.Image }} which you subscribed to through {{ .Entry.Provider }} provider has been released.
{% endraw %}