---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  diun:
    restart: unless-stopped
    image: crazymax/diun:{{ diun.version }}
    command: serve
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - LOG_LEVEL=info
      - LOG_JSON=false
    volumes:
      - "{{ volumes_root }}/diun/data:/data"
      - "{{ volumes_root }}/diun/diun.yml:/diun.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - traefik_network

