{% if watch == True %}
      - "diun.enable=true"
{% endif %}
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.routers.{{ service_item }}-http.service={{ service_item }}"
      - "traefik.http.routers.{{ service_item }}-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.{{ service_item }}-http.entrypoints=web"
      - "traefik.http.routers.{{ service_item }}-http.middlewares={% if https_only == True %}redirect@file{% else %}{% if auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.{{ service_item }}.service={{ service_item }}"
      - "traefik.http.routers.{{ service_item }}.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.{{ service_item }}.entrypoints=web-secure"
{% if auth == True %}
      - "traefik.http.routers.{{ service_item }}.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% elif service_item == "nextcloud" %}
      - "traefik.http.routers.{{ service_item }}.middlewares=chain-nextcloud@file"
{% else %}
      - "traefik.http.routers.{{ service_item }}.middlewares=chain-bypass@file"
{% endif %}
      - "traefik.http.routers.{{ service_item }}.tls=true"
      - "traefik.http.routers.{{ service_item }}.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.{{ service_item }}.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].main={{ service_domain }}"
{% else %}
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.{{  service_item }}.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.{{ service_item }}-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.{{ service_item }}-tor-http.entrypoints=web"
      - "traefik.http.routers.{{ service_item }}-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}chain-authelia-tor@file{% else %}chain-basic-tor@file{% endif %}, {% endif %}"
{% endif %}
