---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  paperless:

services:
  # Document Storage
  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ paperless.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - paperless
    depends_on:
      - db
      - broker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - "{{ volumes_root }}/paperless/data:/usr/src/paperless/data"
      - "{{ volumes_root }}/paperless/media:/usr/src/paperless/media"
      - "{{ storage_dir }}/Documents/consume:/usr/src/paperless/consume"
      - "{{ storage_dir }}/Documents/export:/usr/src/paperless/export"
    environment:
      - USERMAP_UID={{ uid_output.stdout }}
      - USERMAP_GID={{ gid_output.stdout }}
      - PAPERLESS_TIME_ZONE={{ common_timezone }}
      - PAPERLESS_REDIS=redis://broker:6379
      - PAPERLESS_DBHOST=db
      - PAPERLESS_URL=https://{{ sevice_domain }}
      - PAPERLESS_DBPASS={{lookup('password', './settings/passwords/paperless_db_password chars=ascii_letters')}}
      - PAPERLESS_SECRET_KEY={{lookup('password', './settings/passwords/paperless_secret_key chars=ascii_letters')}}
    labels:
      - "traefik.http.services.paperless.loadbalancer.server.scheme=http"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
{% include './labels.j2' %}

  db:
    image: postgres:13
    restart: unless-stopped
    networks:
      - paperless
    volumes:
      - "{{ volumes_root }}/paperless/db:/var/lib/postgresql/data"
    environment:
      - POSTGRES_DB=paperless
      - POSTGRES_USER=paperless
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/paperless_db_password chars=ascii_letters')}}

  broker:
    image: redis:6.0
    restart: unless-stopped
    networks:
      - paperless
