---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  protonmail:
    restart: unless-stopped
    # REQUIRED
    image: shenxn/protonmail-bridge:{{ protonmail.version }}
    networks:
      - traefik_network
    ports:
      - 1025:25/tcp
      - 1143:143/tcp
    volumes:
      - "{{ volumes_root }}/protonmail/config:/root"
{% if protonmail.watch %}
    labels:
      - "diun.enable=true"
{% endif %}

