---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: itzg/minecraft-bedrock-server:{{ minecraftbedrockserver.version }}
    environment:
      - EULA={{minecraftbedrockserver.eula | upper }}
      - SERVER_NAME={{minecraftbedrockserver.server_name}}
      - SERVER_PORT={{minecraftbedrockserver.server_port}}
      - GAMEMODE={{minecraftbedrockserver.gamemode}}
      - DIFFICULTY={{minecraftbedrockserver.difficulty}}
      - LEVEL_TYPE={{minecraftbedrockserver.level_type}}
      - ALLOW_CHEATS={{minecraftbedrockserver.allow_cheats | lower }}
      - MAX_PLAYERS={{minecraftbedrockserver.max_players}}
      - ONLINE_MODE={{minecraftbedrockserver.online_mode | lower }}
      - WHITE_LIST={{minecraftbedrockserver.white_list | lower }}
      - VIEW_DISTANCE={{minecraftbedrockserver.view_distance}}
      - TICK_DISTANCE={{minecraftbedrockserver.tick_distance}}
      - PLAYER_IDLE_TIMEOUT={{minecraftbedrockserver.player_idle_timeout}}
      - MAX_THREADS={{minecraftbedrockserver.max_threads}}
      - LEVEL_NAME={{minecraftbedrockserver.level_name}}
      - LEVEL_SEED={{minecraftbedrockserver.level_seed}}
      - DEFAULT_PLAYER_PERMISSION_LEVEL={{minecraftbedrockserver.default_player_permission_level}}
      - TEXTUREPACK_REQUIRED={{minecraftbedrockserver.texturepack_required | lower }}
    ports:
      - 19132:19132/udp
    volumes:
      - "{{ volumes_root }}/minecraftbedrockserver/data:/data"
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.minecraftbedrockserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.minecraftbedrockserver.loadbalancer.server.port=3000"
{% include './labels.j2' %}
