[Unit]
Description=HomelabOS Web UI Service
After=docker.service
Requires=docker.service

[Service]
User={{ user_name }}
Group={{ user_name }}
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ volumes_root }}/homelabos_web/

ExecStart=/usr/local/bin/docker compose -p homelabos_web up
ExecStop=/usr/local/bin/docker compose -p homelabos_web down

[Install]
WantedBy=multi-user.target
