---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Password Manager
  bitwarden_web:
    image: bitwardenrs/server:{{ bitwarden.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/bitwarden:/data"
    environment:
{% if smtp.host %}
      - SMTP_HOST={{ smtp.host }}
      - SMTP_FROM={{ smtp.from_email }}
      - SMTP_PORT=587
      - SMTP_SSL=true
      - SMTP_USERNAME={{ smtp.user }}
      - SMTP_PASSWORD={{ smtp.pass }}
{% endif %}
      - ADMIN_TOKEN={{ bitwarden.token }}
      - DOMAIN=https://bitwarden.{{ domain }}
      - SHOW_PASSWORD_HINT=false
      - SIGNUPS_ALLOWED={{ bitwarden.signups_allowed }}
{% if bitwarden.signups_domains_whitelist %}
      - SIGNUPS_DOMAINS_WHITELIST={{ bitwarden.signups_domains_whitelist }}
{% endif %}
      - TZ={{ common_timezone }}
    labels:
      - "traefik.http.services.bitwarden.loadbalancer.server.scheme=http"
      - "traefik.http.services.bitwarden.loadbalancer.server.port=80"
{% include './labels.j2' %}
