---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Docker Control
  portainer:
    image: portainer/portainer-ce:{{ portainer.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ volumes_root }}/portainer:/data"
    labels:
      - "traefik.http.services.portainer.loadbalancer.server.scheme=http"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
{% include './labels.j2' %}
