---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  monicahq:

services:
  # Personal Relationship Database
  monicahq:
    image: monicahq/monicahq:{{ monicahq.version }}
    networks:
      - traefik_network
      - monicahq
    restart: unless-stopped
    depends_on:
      - monicahq_db
    ports:
      - 8176:80
    volumes:
      - "{{ volumes_root }}/monicahq/storage/app/public:/var/www/monica/storage/app/public"
      - "{{ volumes_root }}/monicahq/storage/logs:/var/www/monica/storage/logs"
    env_file:
      - "{{ volumes_root }}/monicahq/monicahq.env"
    environment:
      - APP_KEY="{{ lookup('password', './settings/passwords/monicahq_app_key chars=ascii_letters length=32') }}"
      - DB_PASSWORD="{{ lookup('password', './settings/passwords/monicahq_db_password chars=ascii_letters') }}"
    labels:
      - "traefik.http.services.monicahq.loadbalancer.server.scheme=http"
      - "traefik.http.services.monicahq.loadbalancer.server.port=80"
{% include './labels.j2' %}

  monicahq_db:
    image: mariadb:{{ monicahq.db_version }}
    networks:
      - monicahq
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=monica
      - MYSQL_PASSWORD={{ lookup('password', './settings/passwords/monicahq_db_password chars=ascii_letters') }}
      - MYSQL_USER=monica
      - MYSQL_ROOT_PASSWORD={{ lookup('password', './settings/passwords/monicahq_db_root_password chars=ascii_letters') }}
    volumes:
      - "{{ volumes_root }}/monicahq/mysql:/var/lib/mysql"
