---
services:
  resticprofile:
    image: creativeprojects/resticprofile:{{ resticprofile.version }}
    restart: unless-stopped
    entrypoint: '/bin/sh'
    environment:
      - TZ={{ common_timezone }}
    command:
      - '-c'
      - 'resticprofile schedule --all && crond -f'
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "~/.ssh:/root/.ssh"
      - "{{ volumes_root }}/resticprofile/config/profiles.yaml:/etc/resticprofile/profiles.yaml:ro"
      - "{{ volumes_root }}/resticprofile/config/key:/etc/resticprofile/key:ro"
      - "{{ volumes_root }}/resticprofile/logs/:/var/log/resticprofile/"
      - "{{ volumes_root }}:/config:ro"
      - "{{ storage_dir }}:/data:ro"
    labels:
{% if watch == True %}
      - "diun.enable=true"
{% endif %}
