# yaml-language-server: $schema=https://creativeprojects.github.io/resticprofile/jsonschema/config-1.json
version: "1"

global:
  lock: "/tmp/resticprofile-profile-default.lock"
  default-command: snapshots
  initialize: true
  min-memory: 100
  scheduler: crond

base:
  password-file: key
  retention:
    before-backup: false
    after-backup: true
    keep-daily: 3
    keep-hourly: 1
    keep-weekly: 1
    keep-monthly: 1
    keep-within: 3h
    prune: true
  backup:
    exclude-file: "tmp/"
    exclude-caches: true
    one-file-system: true
    schedule-after-network-online: true

## Backup data storage
data:
  inherit: base
  lock: "/tmp/data-backup.lock"
  restic-stale-lock-age: 2h
  force-inactive-lock: true
  backup:
    schedule: "weekly"
    schedule-log: "/var/log/resticprofile/data-backup.log" 
    tag:
      - "data"

config:
  inherit: base
  lock: "/tmp/data-backup.lock"
  backup:
    schedule: "daily"
    schedule-log: "/var/log/resticprofile/config-backup.log" 


movies:
  inherit: data
  lock: "/tmp/movies-backup.lock"
  repository:  "{{ resticprofile_repository_root }}:movies"
  backup:
    schedule-log: "/var/log/resticprofile/movies-backup.log" 
    source:
      - "/data/data/media/Movies/"



## Backup individual service configs
{% for service in backup_services %}
{{ service }}:
  inherit: config
  repository:  "{{ resticprofile_repository_root }}:config/{{ service }}"
  backup:
    tag:
      - "config"
      - "{{ service }}"
    source:
      - "/config/{{ service }}/"
{% endfor %}
