---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  kavita:
    image: linuxserver/kavita:{{ kavita.version }}
    volumes:
      - "{{ volumes_root }}/kavita/config:/config"
      - "{{ storage_dir }}/data/media/Books:/data"
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - UMASK=022
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.kavita.loadbalancer.server.scheme=http"
      - "traefik.http.services.kavita.loadbalancer.server.port=5000"
{% include './labels.j2' %}
