---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
{% if not amd.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  amd:
    restart: unless-stopped
    image: randomninjaatk/amd:{{ amd.version }}
    volumes:
      - "{{ volumes_root }}/amd/config:/config"
      - "{{ storage_dir }}/Downloads/music:/downloads-amd"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - AUTOSTART=true
      - SCRIPTINTERVAL=12h
      - DOWNLOADMODE=wanted
      - LIST=both
      - SearchType=both
      - Concurrency=1
      - FORMAT=MP3
      - BITRATE=128
      - requirequality=false
      - MatchDistance=10
      - replaygain=true
      - FolderPermissions=766
      - FilePermissions=666
      - LidarrUrl=http://{% if amd.vpn %}0.0.0.0{% else %}lidarr_lidarr_1{% endif %}:8686
      - LidarrAPIkey={{ lidarr_api_key }}
      - ARL_TOKEN={{ deezer_arl }}
      - NOTIFYPLEX=false
{% if amd.vpn %}
    network_mode: container:vpn-vpn-1
{% if amd.watch %}
    labels:
      - "diun.enable=true"
{% endif %}
{% else %}
    networks:
      - traefik_network
{% endif %}
