---
networks:
  traefik_network:
    name: homelabos_traefik

services:
  rssbridge:
    image: rssbridge/rss-bridge:{{ rssbridge.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/rssbridge/config:/config"    
    labels:
      - "traefik.http.services.rssbridge.loadbalancer.server.scheme=http"
      - "traefik.http.services.rssbridge.loadbalancer.server.port=80"
{% include './labels.j2' %}
