###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  {{default_username}}:
    password: "{{ authelia_hash.stdout }}"
    email: {{ authelia.default_user_email }}
    groups:
      - admins
      - dev
    displayname: {{ default_username }}
