---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
{% if not deemix.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  deemix:
    restart: unless-stopped
    image: registry.gitlab.com/bockiii/deemix-docker
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - ARL={{ deezer_arl }}
    volumes:
      - "{{ volumes_root }}/deemix/config:/config"
      - "{{ storage_dir }}/Downloads/music/deemix:/downloads"
{% if deemix.vpn %}
    network_mode: container:vpn-vpn-1
{% if deemix.watch %}
    labels:
      - "diun.enable=true"
{% endif %}
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.deemix.loadbalancer.server.scheme=http"
      - "traefik.http.services.deemix.loadbalancer.server.port=6595"
{% include './labels.j2' %}
{% endif %}
