---
services:
  # IFTTT Replacement
  kibitzr:
    image: peterdemin/kibitzr:{{ kibitzr.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/kibitzr/config:/root/.config/kibitzr"
      - "{{ volumes_root }}/kibitzr/pages:/pages"
