---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  firefly:

services:
  # Financial Tracker
  firefly_iii_app:
    restart: unless-stopped
    depends_on:
      - firefly_iii_db
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=firefly_iii_db
      - DB_DATABASE=firefly_db
      - DB_USERNAME=firefly_db
      - DB_PORT=5432
      - TRUSTED_PROXIES=**
      - DB_PASSWORD={{ lookup('password', './settings/passwords/firefly_db_password chars=ascii_letters') }}
      - APP_KEY={{ lookup('password', './settings/passwords/firefly_app_key chars=ascii_letters length=32') }}
      # Using heroku as APP_ENV, just to ensure generated URIs start with HTTPS, leveraging:
      # https://github.com/firefly-iii/firefly-iii/blob/master/app/Providers/AppServiceProvider.php#L42
      # This fixes issue with SSL termination at traefik, and forces HTTPS URIs everywhere
      - APP_ENV=heroku
      - APP_URL=https://{% if firefly_iii.domain %}{{ firefly_iii.domain }}{% else %}{{ firefly_iii.subdomain + "." + domain }}
{% endif %}
      - MAIL_DRIVER=smtp
      - MAIL_HOST={{ smtp.host }}
      - MAIL_PORT={{ smtp.port }}
      - MAIL_FROM={{ smtp.from_email }}
      - MAIL_USERNAME={{ smtp.user }}
      - MAIL_PASSWORD={{ smtp.pass }}
      - MAIL_ENCRYPTION=tls
      - TZ={{ common_timezone }}
      - ServerName={% if firefly_iii.domain %}{{ firefly_iii.domain }}{% else %}{{ firefly_iii.subdomain + "." + domain }}
{% endif %}
    image: jc5x/firefly-iii:{{ firefly_iii.version }}
    networks:
      - traefik_network
      - firefly
    volumes:
      - "{{ volumes_root }}/firefly_iii/export:/var/www/firefly-iii/storage/export"
      - "{{ volumes_root }}/firefly_iii/upload:/var/www/firefly-iii/storage/upload"
    labels:
      - "traefik.http.services.firefly_iii.loadbalancer.server.scheme=http"
      - "traefik.http.services.firefly_iii.loadbalancer.server.port=8080"
{% include './labels.j2' %}

  firefly_iii_db:
    image: postgres:{{ firefly_iii.db_version }}
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD={{ lookup('password', './settings/passwords/firefly_db_password chars=ascii_letters') }}
      - POSTGRES_USER=firefly_db
      - POSTGRES_DB=firefly_db
    networks:
      - firefly
    volumes:
      - "{{ volumes_root }}/firefly_iii/db:/var/lib/postgresql/data"
