---

networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  ghost:
    image: ghost:{{ ghost.version }}
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      url: "https://{% if ghost.domain %}{{ ghost.domain }}{% else %}{{ ghost.subdomain + "." + domain }}{% endif %}"
{% if smtp.user %}
      mail__transport: SMTP
      mail__from: "'Blog {{ domain }}' <{{ smtp.from_email }}>"
      mail__options__host: {{ smtp.host }}
      mail__options__port: {{ smtp.port }}
      mail__options__secureConnection: "true"
      mail__options__auth__user: {{ smtp.user }}
      mail__options__auth__pass: {{ smtp.pass }}
{% endif %}
    volumes:
      - "{{ volumes_root }}/ghost/content:/var/lib/ghost/content"
    labels:
      - "traefik.http.services.ghost.loadbalancer.server.scheme=http"
      - "traefik.http.services.ghost.loadbalancer.server.port=2368"
{% include './labels.j2' %}
