---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  snibox:

services:
  frontend:
    image: snibox/nginx-puma:{{ snibox.web_version }}
    networks:
      - traefik_network
      - snibox
    volumes:
      #- '{{ volumes_root }}/snibox/static-files:/var/www/html'
      - static-files:/var/www/html
    depends_on:
      - backend
    labels:
      - "traefik.http.services.snibox.loadbalancer.server.scheme=http"
      - "traefik.http.services.snibox.loadbalancer.server.port=80"
{% include './labels.j2' %}

  backend:
    image: snibox/snibox:{{ snibox.version }}
    command: sh -c "rm -rf tmp/pids && ./bin/rails s -p 3000 -b '0.0.0.0'"
    environment:
      DB_NAME: "postgres"
      DB_USER: "postgres"
      #DB_PASS: "${DB_PASS}"
      DB_HOST: "database"
      DB_PORT: "5432"
      FORCE_SSL: "false"
      #MAILGUN_SMTP_PORT: "${MAILGUN_SMTP_PORT}"
      #MAILGUN_SMTP_SERVER: "${MAILGUN_SMTP_SERVER}"
      #MAILGUN_SMTP_LOGIN: "${MAILGUN_SMTP_LOGIN}"
      #MAILGUN_SMTP_PASSWORD: "${MAILGUN_SMTP_PASSWORD}"
      #MAILGUN_API_KEY: "${MAILGUN_API_KEY}"
      #MAILGUN_DOMAIN: "${MAILGUN_DOMAIN}"
      #MAILGUN_PUBLIC_KEY: "${MAILGUN_PUBLIC_KEY}"
      SECRET_KEY_BASE: "{{lookup('password', './settings/passwords/snibox_secret_key chars=ascii_letters')}}"
    volumes:
      #- '{{ volumes_root }}/snibox/static-files:/app/public'
      - static-files:/app/public
    depends_on:
      - database
    networks:
      - snibox

  database:
    image: postgres:{{ snibox.db_version }}
    volumes:
      #- '{{ volumes_root }}/snibox/pg-data:/var/lib/postgresql/data'
      - pg-data:/var/lib/postgresql/data
    networks:
      - snibox

volumes:
  pg-data:
  static-files:
