---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  wallabag:

services:
  # Wallabag - self-hostable app for saving webpages
  wallabag:
    image: wallabag/wallabag:{{ wallabag.version }}
    networks:
      - traefik_network
      - wallabag
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_root_password chars=ascii_letters')}}
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql
      - SYMFONY__ENV__DATABASE_HOST=wallabag_db
      - SYMFONY__ENV__DATABASE_PORT=3306
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=wallabag
      - SYMFONY__ENV__DATABASE_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_password chars=ascii_letters')}}
      - MYSQL_DATABASE=wallabag
      - SYMFONY__ENV__DATABASE_CHARSET=utf8mb4
      - SYMFONY__ENV__MAILER_HOST=127.0.0.1
      - SYMFONY__ENV__MAILER_USER=~
      - SYMFONY__ENV__MAILER_PASSWORD=~
      - SYMFONY__ENV__FROM_EMAIL=wallabag@example.com
      - SYMFONY__ENV__DOMAIN_NAME=https://{% if wallabag.domain %}{{ wallabag.domain }}{% else %}{{ wallabag.subdomain + "." + domain }}{% endif %}

    volumes:
      - "{{ volumes_root }}/wallabag/data:/var/www/wallabag/data"
      - "{{ volumes_root }}/wallabag/images:/var/www/wallabag/web/assets/images"
    depends_on:
      - wallabag_db
      - redis
    labels:
      - "traefik.http.services.wallabag.loadbalancer.server.scheme=http"
      - "traefik.http.services.wallabag.loadbalancer.server.port=80"
{% include './labels.j2' %}

  wallabag_db:
    image: mariadb:{{ wallabag.db_version }}
    networks:
      - wallabag
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/wallabag/db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_root_password chars=ascii_letters')}}
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/wallabag_db_password chars=ascii_letters')}}

  redis:
    image: redis:{{ wallabag.redis_version }}
    networks:
      - wallabag
