---
{% if not jackett.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # Torrent API
  jackett:
    image: linuxserver/jackett:{{ jackett.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/jackett/config:/config"
      - "{{ volumes_root }}/jackett/downloads:/downloads"
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
{% if jackett.vpn %}
    network_mode: container:vpn-vpn-1
{% if jackett.watch %}
    labels:
      - "diun.enable=true"
{% endif %}
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.jackett.loadbalancer.server.scheme=http"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
{% include './labels.j2' %}
{% endif %}
