---
{% if not prowlarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # TV Downloader
  prowlarr:
    image: linuxserver/prowlarr:{{ prowlarr.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/prowlarr/config:/config"
{% if prowlarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.prowlarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.http.routers.prowlarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.prowlarr-bypass.rule=Headers(`X-Api-Key`, `{{ prowlarr_api_key }}`) || Query(`apikey`, `{{ prowlarr_api_key }}`)"
      - "traefik.http.routers.prowlarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.prowlarr-bypass.priority=100"
{% include './labels.j2' %}
{% endif %}
