---
services:
  minecraft:
    image: itzg/minecraft-server:{{ minecraft.version }}
    volumes:
      - "{{ volumes_root }}/minecraft/data:/data"
    environment:
      - EULA=TRUE
      - UID={{ uid_output.stdout }}
      - GID={{ gid_output.stdout }}
      - GUI=False
      - CONSOLE=False
      - ONLINE_MODE={{ minecraft.online_mode}}
      - TYPE={{ minecraft.server_type }}
      - VERSION={{ minecraft.server_version }}
    ports:
      - 25565:25565
    restart: unless-stopped
