---
{% if not readarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  readarr:
    restart: unless-stopped
    image: ghcr.io/linuxserver/readarr:{{ readarr.version }}
    volumes:
      - "{{ volumes_root }}/readarr/config:/config/"
      - "{{ storage_dir }}/data:/data"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
{% if readarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %} 
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.readarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.readarr.loadbalancer.server.port=8787"
      - "traefik.http.routers.readarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.readarr-bypass.rule=Headers(`X-Api-Key`, `{{ readarr_api_key }}`) || Query(`apikey`, `{{ readarr_api_key }}`)"
      - "traefik.http.routers.readarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.readarr-bypass.priority=100"
{% include './labels.j2' %}
{% endif %}
