---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  grocy:
    image: ghcr.io/linuxserver/grocy
    restart: unless-stopped
    environment:
      - TZ={{ common_timezone }}
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/grocy/config:/config"
    labels:
      - "traefik.http.services.grocy.loadbalancer.server.scheme=http"
      - "traefik.http.services.grocy.loadbalancer.server.port=80"
{% include './labels.j2' %}
