---
{% if not lazylibrarian.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  lazylibrarian:
    image: linuxserver/lazylibrarian:{{ lazylibrarian.version }}
    restart: unless-stopped

    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - DOCKER_MODS=linuxserver/calibre-web:calibre #optional
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ volumes_root }}/lazylibrarian/config:/config"
      - "{{ storage_dir }}/Downloads/calibre/lazyLibrarian:/books"
      - "{{ storage_dir }}/Downloads/calibre/incoming:/calibre"
      - "{{ storage_dir }}/Downloads/completed/books/:/downloads"
{% if lazylibrarian.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.lazylibrarian.loadbalancer.server.scheme=http"
      - "traefik.http.services.lazylibrarian.loadbalancer.server.port=5299"
{% include './labels.j2' %}
{% endif %}
