---
{% if not sonarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # TV Downloader
  sonarr:
    image: linuxserver/sonarr:{{ sonarr.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/sonarr/config:/config"
      - "{{ storage_dir }}/data:/data"
{% if sonarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.sonarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.sonarr-bypass.rule=Headers(`X-Api-Key`, `{{ sonarr_api_key }}`) || Query(`apikey`, `{{ sonarr_api_key }}`)"
      - "traefik.http.routers.sonarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.sonarr-bypass.priority=100"
{% include './labels.j2' %}
{% endif %}
