---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  airsonic_web:
    image: linuxserver/airsonic:{{ airsonic.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - JAVA_OPTS=-Dserver.use-forward-headers=true
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/airsonic/config:/config"
      - "{{ storage_dir }}/Music:/music"
      - "{{ storage_dir }}/Playlists:/playlists"
      - "{{ storage_dir }}/Podcasts:/podcasts"
    labels:
      - "traefik.http.services.airsonic.loadbalancer.server.scheme=http"
      - "traefik.http.services.airsonic.loadbalancer.server.port=4040"
{% include './labels.j2' %}
