---
networks:
  factorio:

services:
  factorio:
    image: factoriotools/factorio:{{ factorio.version }}
    restart: unless-stopped
    networks:
      - factorio
    volumes:
      - "{{ volumes_root }}/factorio:/factorio"
    ports:
      - 34197:34197/udp
      - 27015:27015
