---
# by default, the FreshRSS image can use SQLite (and thus requires no separate database container)
# some PostgresSQL example information is included for demonstration purposes (especially environment-variable-based configuration)
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # RSS Reader
  freshrss:
    image: freshrss/freshrss:{{ freshrss.version }}
    networks:
      - traefik_network
      #- freshrss
    restart: unless-stopped
    environment:
      - CRON_MIN=*/20
    volumes:
      - "{{ volumes_root }}/freshrss/data:/var/www/FreshRSS/data"
      - "{{ volumes_root }}/freshrss/extensions:/var/www/FreshRSS/extensions"
    labels:
      - "traefik.http.services.freshrss.loadbalancer.server.scheme=http"
      - "traefik.http.services.freshrss.loadbalancer.server.port=80"
{% include './labels.j2' %}
