---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  app:
    image: linuxserver/taisun:{{ taisun.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.http.services.taisun.loadbalancer.server.scheme=http"
      - "traefik.http.services.taisun.loadbalancer.server.port=3000"
{% include './labels.j2' %}
