---
{% if not lidarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:{{ lidarr.version }}
    volumes:
      - "{{ volumes_root }}/lidarr/config:/config"
      - "{{ volumes_root }}/lidarr/custom-services.d:/custom-services.d"
      - "{{ volumes_root }}/lidarr/custom-cont-init.d:/custom-cont-init.d"
      - "{{ storage_dir }}/data:/data"
      - "{{ storage_dir }}/Downloads/music:/downloads"
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
{% if lidarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.lidarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.routers.lidarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.lidarr-bypass.rule=Headers(`X-Api-Key`, `{{ lidarr_api_key }}`) || Query(`apikey`, `{{ lidarr_api_key }}`)"
      - "traefik.http.routers.lidarr-bypass.priority=100"
      - "traefik.http.routers.lidarr-bypass.middlewares=chain-bypass@file"
{% include './labels.j2' %}
{% endif %}
