---
{% if not bazarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  bazarr:
    restart: unless-stopped
    image: ghcr.io/linuxserver/bazarr:{{ bazarr.version }}
    volumes:
      - "{{ volumes_root }}/bazarr/config:/config/"
      - "{{ storage_dir }}/data:/data"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
{% if bazarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %} 
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.bazarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.http.routers.bazarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.bazarr-bypass.rule=Headers(`X-Api-Key`, `{{ readarr_api_key }}`) || Query(`apikey`, `{{ readarr_api_key }}`)"
      - "traefik.http.routers.bazarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.bazarr-bypass.priority=100"
{% include './labels.j2' %}
{% endif %}
