---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  elk:
    image: sebp/elk:{{ elkstack.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.elkstack.loadbalancer.server.scheme=http"
      - "traefik.http.services.elkstack.loadbalancer.server.port=5601"
{% include './labels.j2' %}
