---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  miniflux:

services:
  # RSS Reader
  miniflux:
    image: miniflux/miniflux:{{ miniflux.version }}
    networks:
      - traefik_network
      - miniflux
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://miniflux:%22{{lookup('password', './settings/passwords/miniflux_db_password chars=ascii_letters')}}%22@miniflux_db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME={{ default_username }}
      - ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.http.services.miniflux.loadbalancer.server.scheme=http"
      - "traefik.http.services.miniflux.loadbalancer.server.port=8080"
{% include './labels.j2' %}

  miniflux_db:
    image: postgres:{{ miniflux.db_version }}
    networks:
      - miniflux
    restart: unless-stopped
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD="{{lookup('password', './settings/passwords/miniflux_db_password chars=ascii_letters')}}"
    volumes:
      - "{{ volumes_root }}/miniflux/db:/var/lib/postgresql/data"
