---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  rsshub:
    image: diygod/rsshub:{{ rsshub.version }}
    restart: unless-stopped
    networks:
      - traefik_network
{#    environment:
      # OPTIONAL: http basic auth
      - HTTP_BASIC_AUTH_NAME={{ default_username }}
      - HTTP_BASIC_AUTH_PASS={{ default_password }} #}
    labels:
      - "traefik.http.services.rsshub.loadbalancer.server.scheme=http"
      - "traefik.http.services.rsshub.loadbalancer.server.port=1200"
{% include './labels.j2' %}
