---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  tandoor:

services:
  tandoor-db:
    image: postgres:{{ tandoor.db_version }}
    networks:
      - tandoor
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/tandoor/db:/var/lib/postgresql/data"
    environment:
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/tandoor_db_password chars=ascii_letters')}}
      - POSTGRES_DB=tandoor
      - POSTGRES_USER=tandoor

  tandoor:
    image: vabene1111/recipes:{{ tandoor.version }}
    networks:
      - tandoor
      - traefik_network
    depends_on:
      - tandoor-db
    volumes:
      - "{{ volumes_root }}/tandoor/data/static:/opt/recipes/static"
      - "{{ volumes_root }}/tandoor/data/media:/opt/recipes/mediafiles"
    environment:
      - DB_ENGINE=django.db.backends.postgresql
      - POSTGRES_HOST=tandoor-db
      - POSTGRES_DB=tandoor
      - POSTGRES_PORT=5432
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/tandoor_db_password chars=ascii_letters')}}
      - POSTGRES_USER=tandoor
      - ALLOWED_HOSTS=https://tandoor.{{ domain }}
      - SECRET_KEY={{lookup('password', './settings/passwords/tandoor_secret_key chars=ascii_letters')}}
   restart: unless-stopped
    labels:
      - "traefik.http.services.tandoor.loadbalancer.server.scheme=http"
      - "traefik.http.services.tandoor.loadbalancer.server.port=8080"
{% include './labels.j2' %}
