---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  unifi-controller:
    image: linuxserver/unifi-controller:{{ unificontroller.version }}
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - MEM_LIMIT=1024M #optional
    volumes:
      - "{{ volumes_root }}/unificontroller/config:/config"
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8081:8081
      - 8443:8443
      - 8843:8843
      - 8880:8880
      - 6789:6789
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.unificontroller.loadbalancer.server.scheme=http"
      - "traefik.http.services.unificontroller.loadbalancer.server.port=8080"
{% include './labels.j2' %}
