---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  mealie:

services:
  mealie-db:
    image: postgres:{{ mealie.db_version }}
    networks:
      - mealie
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/mealie/db:/var/lib/postgresql/data"
    environment:
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/mealie_db_password chars=ascii_letters')}}
      - POSTGRES_USER=mealie

  mealie:
    image: ghcr.io/mealie-recipes/mealie:{{ mealie.version }}
    networks:
      - mealie
    deploy:
      resources:
        limits:
          memory: 1000M # 
    depends_on:
      - mealie-db
    volumes:
      - "{{ volumes_root }}/mealie/data:/app/data/"
    environment:
    # Set Backend ENV Variables Here
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL=https://mealie.{{ domain }}

    # Database Settings
      - DB_ENGINE=postgres
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/mealie_db_password chars=ascii_letters')}}
      - POSTGRES_SERVER=mealie-db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=mealie
    restart: unless-stopped
    labels:
      - "traefik.http.services.mealie.loadbalancer.server.scheme=http"
      - "traefik.http.services.mealie.loadbalancer.server.port=9925"
{% include './labels.j2' %}
