---
services:
  duckdns:
    image: linuxserver/duckdns:{{ duckdns.version }}
    restart: unless-stopped
    environment:
      - TZ={{ common_timezone }}
      - SUBDOMAINS={{ duckdns.subdomains }}
      - TOKEN={{duckdns.token}}
