---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Usenet Downloader
  nzbget:
    image: linuxserver/nzbget:{{ nzbget.version }}
    networks:
      - traefik_network
    restart: unless-stopped
    ports:
      - 6789:6789
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/nzbget:/config"
      - "{{ storage_dir }}/Downloads:/downloads"
    labels:
      - "traefik.http.services.nzbget.loadbalancer.server.scheme=http"
      - "traefik.http.services.nzbget.loadbalancer.server.port=6789"
{% include './labels.j2' %}
