---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  apache2:
    image: httpd:{{ apache2.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/apache2/root/:/usr/local/apache2/htdocs/"
    labels:
      - "traefik.http.services.apache2.loadbalancer.server.scheme=http"
      - "traefik.http.services.apache2.loadbalancer.server.port=80"
{% include './labels.j2' %}
