---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  turtl_internal:

services:
  turtl-server:
    build:
      context: ./server
    restart: unless-stopped
    networks:
      - traefik_network
      - turtl_internal
    depends_on:
      postgres-db
        conditon: service_healthy
    environment:
      TURTL_DB_HOST: postgres-db
      TURTL_DB_PORT: 5432
      TURTL_DB_DATABASE: turtl
      TURTL_DB_USER: turtl
      TURTL_DB_PASSWORD: {{ lookup('password', './settings/passwords/turtl_db_password chars=ascii_letters,digits') }}
      TURTL_APP_SECURE_HASH_SALT: {{ lookup('password', './settings/passwords/turtl_hashsalt chars=ascii_letters,digits') }}
      TURTL_APP_API_URL: http{% if turtl.https_only %}s{% endif %}://{% if turtl.domain %}{{ turtl.domain }}{% else %}{{ service_domain }}{% endif %}
      TURTL_APP_WWW_URL: http{% if turtl.https_only %}s{% endif %}://{% if turtl.domain %}{{ turtl.domain }}{% else %}{{ service_domain }}{% endif %}
      TURTL_EMAILS_ADMIN: "{{ admin_email }}"
      TURTL_EMAILS_INFO: "{{ admin_email }}"
      TURTL_EMAILS_INVITES: "{{ admin_email }}"
      TURTL_UPLOADS_URL: http{% if turtl.https_only %}s{% endif %}://{% if turtl.domain %}{{ turtl.domain }}{% else %}{{ service_domain }}{% endif %}/uploads
    volumes:
      - "{{ volumes_root }}/turtl/uploads:/uploads"
    labels:
      - "traefik.http.services.turtl.loadbalancer.server.scheme=http"
      - "traefik.http.services.turtl.loadbalancer.server.port=8181"
{% include './labels.j2' %}

  postgres-db:
    image: postgres:11-alpine
    environment:
      POSTGRES_PASSWORD: {{ lookup('password', './settings/passwords/turtl_db_password chars=ascii_letters,digits') }}
      POSTGRES_USER: turtl
      POSTGRES_DB: turtl
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U turtl"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - turtl_internal
    volumes:
      - "{{ volumes_root }}/turtl/db:/var/lib/postgresql/data"
