---
{% if not radarr.vpn %}
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% endif %}

services:
  # Movie Downloader
  radarr:
    image: linuxserver/radarr:{{ radarr.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/radarr/config:/config"
      - "{{ storage_dir }}/data:/data"
{% if radarr.vpn %}
    network_mode: container:vpn-vpn-1
{% else %}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.radarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.radarr-bypass.rule=Headers(`X-Api-Key`, `{{ radarr_api_key }}`) || Query(`apikey`, `{{ radarr_api_key }}`)"
      - "traefik.http.routers.radarr-bypass.priority=100"
      - "traefik.http.routers.radarr-bypass.middlewares=chain-bypass@file"
{% include './labels.j2' %}
{% endif %}
