---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
    wireguard:

services:
  wireguard:
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    image: linuxserver/wireguard:{{ wireguard.version }}
    networks:
      - traefik_network
      - wireguard
    volumes:
      - "{{ volumes_root }}/wireguard/config:/config"
      - "/lib/modules:/lib/modules"
      - "/usr/src:/usr/src"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
# Lazylibrarian
{% if lazylibrarian.vpn %}
      - "traefik.http.services.lazylibrarian.loadbalancer.server.scheme=http"
      - "traefik.http.services.lazylibrarian.loadbalancer.server.port=5299"
      - "traefik.http.routers.lazylibrarian-http.service=lazylibrarian"
      - "traefik.http.routers.lazylibrarian-http.rule=Host(`lazylibrarian.pete-hamlin.com`)"
      - "traefik.http.routers.lazylibrarian-http.entrypoints=web"
      - "traefik.http.routers.lazylibrarian-http.middlewares={% if https_only == True %}redirect@file, {% else %}{% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.lazylibrarian.service=lazylibrarian"
      - "traefik.http.routers.lazylibrarian.rule=Host(`lazylibrarian.pete-hamlin.com`)"
      - "traefik.http.routers.lazylibrarian.entrypoints=web-secure"
      - "traefik.http.routers.lazylibrarian.middlewares={% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.lazylibrarian.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.lazylibrarian.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.lazylibrarian.tls.domains[0].main=lazylibrarian.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.lazylibrarian.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.lazylibrarian.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.lazylibrarian.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.lazylibrarian-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.lazylibrarian-tor-http.entrypoints=web"
      - "traefik.http.routers.lazylibrarian-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
