---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
{% if calibre.enable and calibre.vpn %}
  calibre_network:
    external: true
    name: calibre
{% endif %}

services:
  vpn:
    # Same base image, just add cURL
    build: .
    restart: unless-stopped
    healthcheck:
      disable: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    networks:
      - traefik_network
{% if jellyfin.enable and jellyfin.vpn %}
    ports:
      - 8096:8096
{% endif %}
    volumes:
      - "{{ volumes_root }}/vpn/config:/gluetun"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - VPN_SERVICE_PROVIDER={{ vpn_provider }}
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY={{ wireguard_private_key }}
      - WIREGUARD_ADDRESSES={{ wireguard_addresses }}
      - SERVER_CITIES={{ mullvad_cities }}
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24,172.20.0.0/24
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
    labels:
      - "traefik.http.services.vpn.loadbalancer.server.scheme=http"
      - "traefik.http.services.vpn.loadbalancer.server.port=8000"
{% include './labels.j2' %}
{% if lazylibrarian.enable and lazylibrarian.vpn %}
# Lazylibrarian
      - "traefik.http.services.lazylibrarian.loadbalancer.server.scheme=http"
      - "traefik.http.services.lazylibrarian.loadbalancer.server.port=5299"
      - "traefik.http.routers.lazylibrarian-http.service=lazylibrarian"
      - "traefik.http.routers.lazylibrarian-http.rule=Host(`lazylibrarian.pete-hamlin.com`)"
      - "traefik.http.routers.lazylibrarian-http.entrypoints=web"
      - "traefik.http.routers.lazylibrarian-http.middlewares={% if lazylibrarian.https_only == True %}redirect@file{% else %}{% if lazylibrarian.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.lazylibrarian.service=lazylibrarian"
      - "traefik.http.routers.lazylibrarian.rule=Host(`lazylibrarian.pete-hamlin.com`)"
      - "traefik.http.routers.lazylibrarian.entrypoints=web-secure"
{% if lazylibrarian.auth == True %}
      - "traefik.http.routers.lazylibrarian.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.lazylibrarian.tls=true"
      - "traefik.http.routers.lazylibrarian.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.lazylibrarian.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.lazylibrarian.tls.domains[0].main=lazylibrarian.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.lazylibrarian.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.lazylibrarian.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.lazylibrarian.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.lazylibrarian-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.lazylibrarian-tor-http.entrypoints=web"
      - "traefik.http.routers.lazylibrarian-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if jellyfin.enable and jellyfin.vpn %}
# Jellyfin
      - "traefik.http.services.jellyfin.loadbalancer.server.scheme=http"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin-http.service=jellyfin"
      - "traefik.http.routers.jellyfin-http.rule=Host(`jellyfin.pete-hamlin.com`)"
      - "traefik.http.routers.jellyfin-http.entrypoints=web"
      - "traefik.http.routers.jellyfin-http.middlewares={% if jellyfin.https_only == True %}redirect@file{% else %}{% if jellyfin.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.jellyfin.service=jellyfin"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.pete-hamlin.com`)"
      - "traefik.http.routers.jellyfin.entrypoints=web-secure"
{% if jellyfin.auth == True %}
      - "traefik.http.routers.jellyfin.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.jellyfin.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.jellyfin.tls.domains[0].main=jellyfin.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.jellyfin.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jellyfin.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.jellyfin.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.jellyfin-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.jellyfin-tor-http.entrypoints=web"
      - "traefik.http.routers.jellyfin-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if calibre.enable and calibre.vpn %}
# Calibre
      - "traefik.http.services.calibre.loadbalancer.server.scheme=http"
      - "traefik.http.services.calibre.loadbalancer.server.port=8083"
      - "traefik.http.routers.calibre-http.service=calibre"
      - "traefik.http.routers.calibre-http.rule=Host(`calibre.pete-hamlin.com`)"
      - "traefik.http.routers.calibre-http.entrypoints=web"
      - "traefik.http.routers.calibre-http.middlewares={% if calibre.https_only == True %}redirect@file{% else %}{% if calibre.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.calibre.service=calibre"
      - "traefik.http.routers.calibre.rule=Host(`calibre.pete-hamlin.com`)"
      - "traefik.http.routers.calibre.entrypoints=web-secure"
{% if calibre.auth == True %}
      - "traefik.http.routers.calibre.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.calibre.tls=true"
      - "traefik.http.routers.calibre.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.calibre.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.calibre.tls.domains[0].main=calibre.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.calibre.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.calibre.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.calibre.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.calibre-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.calibre-tor-http.entrypoints=web"
      - "traefik.http.routers.calibre-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
# Calibredl
      - "traefik.http.services.calibredl.loadbalancer.server.scheme=http"
      - "traefik.http.services.calibredl.loadbalancer.server.port=8084"
      - "traefik.http.routers.calibredl-http.service=calibredl"
      - "traefik.http.routers.calibredl-http.rule=Host(`calibredl.pete-hamlin.com`)"
      - "traefik.http.routers.calibredl-http.entrypoints=web"
      - "traefik.http.routers.calibredl-http.middlewares={% if calibre.https_only == True %}redirect@file{% else %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}"
      - "traefik.http.routers.calibredl.service=calibredl"
      - "traefik.http.routers.calibredl.rule=Host(`calibredl.pete-hamlin.com`)"
      - "traefik.http.routers.calibredl.entrypoints=web-secure"
      - "traefik.http.routers.calibredl.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
      - "traefik.http.routers.calibredl.tls=true"
      - "traefik.http.routers.calibredl.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.calibredl.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.calibredl.tls.domains[0].main=calibredl.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.calibredl.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.calibredl.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.calibredl.tls.certresolver=http"
{% endif %}
{% if deemix.enable and deemix.vpn %}
# Deemix
      - "traefik.http.services.deemix.loadbalancer.server.scheme=http"
      - "traefik.http.services.deemix.loadbalancer.server.port=6595"
      - "traefik.http.routers.deemix-http.service=deemix"
      - "traefik.http.routers.deemix-http.rule=Host(`deemix.pete-hamlin.com`)"
      - "traefik.http.routers.deemix-http.entrypoints=web"
      - "traefik.http.routers.deemix-http.middlewares={% if deemix.https_only == True %}redirect@file{% else %}{% if deemix.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.deemix.service=deemix"
      - "traefik.http.routers.deemix.rule=Host(`deemix.pete-hamlin.com`)"
      - "traefik.http.routers.deemix.entrypoints=web-secure"
{% if deemix.auth == True %}
      - "traefik.http.routers.deemix.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.deemix.tls=true"
      - "traefik.http.routers.deemix.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.deemix.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.deemix.tls.domains[0].main=deemix.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.deemix.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.deemix.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.deemix.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.deemix-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.deemix-tor-http.entrypoints=web"
      - "traefik.http.routers.deemix-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if bazarr.enable and bazarr.vpn %}
# Prowlarr
      - "traefik.http.services.bazarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.http.routers.bazarr-bypass.service=bazarr"
      - "traefik.http.routers.bazarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.bazarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.bazarr-bypass.priority=100"
      - "traefik.http.routers.bazarr-http.service=bazarr"
      - "traefik.http.routers.bazarr-http.rule=Host(`bazarr.pete-hamlin.com`)"
      - "traefik.http.routers.bazarr-http.entrypoints=web"
      - "traefik.http.routers.bazarr-http.middlewares={% if bazarr.https_only == True %}redirect@file{% else %}{% if bazarr.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.bazarr.service=bazarr"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.pete-hamlin.com`)"
      - "traefik.http.routers.bazarr.entrypoints=web-secure"
{% if bazarr.auth == True %}
      - "traefik.http.routers.bazarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.routers.bazarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.bazarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.bazarr.tls.domains[0].main=bazarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.bazarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bazarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.bazarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.bazarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.bazarr-tor-http.entrypoints=web"
      - "traefik.http.routers.bazarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if prowlarr.enable and prowlarr.vpn %}
# Prowlarr
      - "traefik.http.services.prowlarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.http.routers.prowlarr-bypass.service=prowlarr"
      - "traefik.http.routers.prowlarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.prowlarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.prowlarr-bypass.priority=100"
      - "traefik.http.routers.prowlarr-http.service=prowlarr"
      - "traefik.http.routers.prowlarr-http.rule=Host(`prowlarr.pete-hamlin.com`)"
      - "traefik.http.routers.prowlarr-http.entrypoints=web"
      - "traefik.http.routers.prowlarr-http.middlewares={% if prowlarr.https_only == True %}redirect@file{% else %}{% if prowlarr.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.prowlarr.service=prowlarr"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.pete-hamlin.com`)"
      - "traefik.http.routers.prowlarr.entrypoints=web-secure"
{% if prowlarr.auth == True %}
      - "traefik.http.routers.prowlarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.prowlarr.tls=true"
      - "traefik.http.routers.prowlarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.prowlarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.prowlarr.tls.domains[0].main=prowlarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.prowlarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.prowlarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.prowlarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.prowlarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.prowlarr-tor-http.entrypoints=web"
      - "traefik.http.routers.prowlarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if sonarr.enable and sonarr.vpn %}
# Sonarr
      - "traefik.http.services.sonarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr-bypass.service=sonarr"
      - "traefik.http.routers.sonarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.sonarr-bypass.rule=Headers(`X-Api-Key`, `{{ sonarr_api_key }}`) || Query(`apikey`, `{{ sonarr_api_key }}`)"
      - "traefik.http.routers.sonarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.sonarr-bypass.priority=100"
      - "traefik.http.routers.sonarr-http.service=sonarr"
      - "traefik.http.routers.sonarr-http.rule=Host(`sonarr.pete-hamlin.com`)"
      - "traefik.http.routers.sonarr-http.entrypoints=web"
      - "traefik.http.routers.sonarr-http.middlewares={% if sonarr.https_only == True %}redirect@file{% else %}{% if sonarr.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.sonarr.service=sonarr"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.pete-hamlin.com`)"
      - "traefik.http.routers.sonarr.entrypoints=web-secure"
{% if sonarr.auth == True %}
      - "traefik.http.routers.sonarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.sonarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.sonarr.tls.domains[0].main=sonarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.sonarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.sonarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.sonarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.sonarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.sonarr-tor-http.entrypoints=web"
      - "traefik.http.routers.sonarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if radarr.enable and radarr.vpn %}
# Radarr
      - "traefik.http.services.radarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr-bypass.service=radarr"
      - "traefik.http.routers.radarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.radarr-bypass.rule=Headers(`X-Api-Key`, `{{ radarr_api_key }}`) || Query(`apikey`, `{{ radarr_api_key }}`)"
      - "traefik.http.routers.radarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.radarr-bypass.priority=100"
      - "traefik.http.routers.radarr-http.service=radarr"
      - "traefik.http.routers.radarr-http.rule=Host(`radarr.pete-hamlin.com`)"
      - "traefik.http.routers.radarr-http.entrypoints=web"
      - "traefik.http.routers.radarr-http.middlewares={% if radarr.https_only == True %}redirect@file, {% else %}{% if radarr.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.radarr.service=radarr"
      - "traefik.http.routers.radarr.rule=Host(`radarr.pete-hamlin.com`)"
      - "traefik.http.routers.radarr.entrypoints=web-secure"
{% if radarr.auth == True %}
      - "traefik.http.routers.radarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.radarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.radarr.tls.domains[0].main=radarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.radarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.radarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.radarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.radarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.radarr-tor-http.entrypoints=web"
      - "traefik.http.routers.radarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if lidarr.enable and lidarr.vpn %}
# Lidarr
      - "traefik.http.services.lidarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.routers.lidarr-bypass.service=lidarr"
      - "traefik.http.routers.lidarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.lidarr-bypass.rule=Headers(`X-Api-Key`, `{{ lidarr_api_key }}`) || Query(`apikey`, `{{ lidarr_api_key }}`)"
      - "traefik.http.routers.lidarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.lidarr-bypass.priority=100"
      - "traefik.http.routers.lidarr-http.service=lidarr"
      - "traefik.http.routers.lidarr-http.rule=Host(`lidarr.pete-hamlin.com`)"
      - "traefik.http.routers.lidarr-http.entrypoints=web"
      - "traefik.http.routers.lidarr-http.middlewares={% if lidarr.https_only == True %}redirect@file, {% else %}{% if lidarr.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.lidarr.service=lidarr"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.pete-hamlin.com`)"
      - "traefik.http.routers.lidarr.entrypoints=web-secure"
{% if lidarr.auth == True %}
      - "traefik.http.routers.lidarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.lidarr.middlewares={% if lidarr.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.lidarr.tls=true"
      - "traefik.http.routers.lidarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.lidarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.lidarr.tls.domains[0].main=lidarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.lidarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.lidarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.lidarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.lidarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.lidarr-tor-http.entrypoints=web"
      - "traefik.http.routers.lidarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if mylar.enable and mylar.vpn %}
# Mylar
      - "traefik.http.services.mylar.loadbalancer.server.scheme=http"
      - "traefik.http.services.mylar.loadbalancer.server.port=8090"
      - "traefik.http.routers.mylar-http.service=mylar"
      - "traefik.http.routers.mylar-http.rule=Host(`mylar.pete-hamlin.com`)"
      - "traefik.http.routers.mylar-http.entrypoints=web"
      - "traefik.http.routers.mylar-http.middlewares={% if mylar.https_only == True %}redirect@file, {% else %}{% if mylar.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mylar.service=mylar"
      - "traefik.http.routers.mylar.rule=Host(`mylar.pete-hamlin.com`)"
      - "traefik.http.routers.mylar.entrypoints=web-secure"
{% if mylar.auth == True %}
      - "traefik.http.routers.mylar.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.mylar.middlewares={% if mylar.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mylar.tls=true"
      - "traefik.http.routers.mylar.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mylar.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.mylar.tls.domains[0].main=mylar.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.mylar.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mylar.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.mylar.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mylar-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.mylar-tor-http.entrypoints=web"
      - "traefik.http.routers.mylar-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if readarr.enable and readarr.vpn %}
# Readarr
      - "traefik.http.services.readarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.readarr.loadbalancer.server.port=8787"
      - "traefik.http.routers.readarr-bypass.service=readarr"
      - "traefik.http.routers.readarr-bypass.entrypoints=web-secure"
      - "traefik.http.routers.readarr-bypass.rule=Headers(`X-Api-Key`, `{{ readarr_api_key }}`) || Query(`apikey`, `{{ readarr_api_key }}`)"
      - "traefik.http.routers.readarr-bypass.middlewares=chain-bypass@file"
      - "traefik.http.routers.readarr-bypass.priority=100"
      - "traefik.http.routers.readarr-http.service=readarr"
      - "traefik.http.routers.readarr-http.rule=Host(`readarr.pete-hamlin.com`)"
      - "traefik.http.routers.readarr-http.entrypoints=web"
      - "traefik.http.routers.readarr-http.middlewares={% if readarr.https_only == True %}redirect@file, {% else %}{% if readarr.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.readarr.service=readarr"
      - "traefik.http.routers.readarr.rule=Host(`readarr.pete-hamlin.com`)"
      - "traefik.http.routers.readarr.entrypoints=web-secure"
{% if readarr.auth == True %}
      - "traefik.http.routers.readarr.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.readarr.middlewares={% if readarr.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.readarr.tls=true"
      - "traefik.http.routers.readarr.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.readarr.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.readarr.tls.domains[0].main=readarr.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.readarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.readarr.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.readarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.readarr-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.readarr-tor-http.entrypoints=web"
      - "traefik.http.routers.readarr-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if jackett.enable and jackett.vpn %}
# Jackett
      - "traefik.http.services.jackett.loadbalancer.server.scheme=http"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
      - "traefik.http.routers.jackett-http.service=jackett"
      - "traefik.http.routers.jackett-http.rule=Host(`jackett.pete-hamlin.com`)"
      - "traefik.http.routers.jackett-http.entrypoints=web"
      - "traefik.http.routers.jackett-http.middlewares={% if https_only == True %}redirect@file, {% else %}{% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jackett.service=jackett"
      - "traefik.http.routers.jackett.rule=Host(`jackett.pete-hamlin.com`)"
      - "traefik.http.routers.jackett.entrypoints=web-secure"
      - "traefik.http.routers.jackett.middlewares={% if jackett.auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jackett.tls=true"
      - "traefik.http.routers.jackett.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.jackett.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.jackett.tls.domains[0].main=jackett.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.jackett.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jackett.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.jackett.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.jackett-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.jackett-tor-http.entrypoints=web"
      - "traefik.http.routers.jackett-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if transmission.enable and transmission.vpn %}
# Transmission
      - "traefik.http.services.transmission.loadbalancer.server.scheme=http"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
      - "traefik.http.routers.transmission-http.service=transmission"
      - "traefik.http.routers.transmission-http.rule=Host(`transmission.pete-hamlin.com`)"
      - "traefik.http.routers.transmission-http.entrypoints=web"
      - "traefik.http.routers.transmission-http.middlewares={% if https_only == True %}redirect@file, {% else %}{% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.transmission.service=transmission"
      - "traefik.http.routers.transmission.rule=Host(`transmission.pete-hamlin.com`)"
      - "traefik.http.routers.transmission.entrypoints=web-secure"
      - "traefik.http.routers.transmission.middlewares={% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.transmission.tls=true"
      - "traefik.http.routers.transmission.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.transmission.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.transmission.tls.domains[0].main=transmission.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.transmission.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.transmission.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.transmission.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.transmission-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.transmission-tor-http.entrypoints=web"
      - "traefik.http.routers.transmission-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
{% if tubesync.enable and tubesync.vpn %}
# Tubesync
      - "traefik.http.services.tubesync.loadbalancer.server.scheme=http"
      - "traefik.http.services.tubesync.loadbalancer.server.port=4848"
      - "traefik.http.routers.tubesync-http.service=tubesync"
      - "traefik.http.routers.tubesync-http.rule=Host(`tubesync.pete-hamlin.com`)"
      - "traefik.http.routers.tubesync-http.entrypoints=web"
      - "traefik.http.routers.tubesync-http.middlewares={% if tubesync.https_only == True %}redirect@file{% else %}{% if tubesync.auth == True %}{% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}{% endif %}{% endif %}"
      - "traefik.http.routers.tubesync.service=tubesync"
      - "traefik.http.routers.tubesync.rule=Host(`tubesync.pete-hamlin.com`)"
      - "traefik.http.routers.tubesync.entrypoints=web-secure"
{% if tubesync.auth == True %}
      - "traefik.http.routers.tubesync.middlewares={% if authelia.enable %}chain-authelia@file{% else %}chain-basic@file{% endif %}"
{% endif %}
      - "traefik.http.routers.tubesync.tls=true"
      - "traefik.http.routers.tubesync.priority=99"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.tubesync.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.tubesync.tls.domains[0].main=tubesync.pete-hamlin.com"
{% else %}
      - "traefik.http.routers.tubesync.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.tubesync.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.tubesync.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.tubesync-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.tubesync-tor-http.entrypoints=web"
      - "traefik.http.routers.tubesync-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
{% endif %}
