---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  # Home Automation
  homeassistant:
    image: homeassistant/home-assistant:{{ homeassistant.version }}
    volumes:
      - "{{ volumes_root }}/homeassistant/config:/config"
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8123:8123
      - 1883:1883
      # - 8080:8080
      - 51827:51827
    labels:
      - "traefik.http.services.homeassistant.loadbalancer.server.scheme=http"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"
{% include './labels.j2' %}
  whisper:
    image: rhasspy/wyoming-whisper:{{ homeassistant.whisper_version }}
    volumes:
      - "{{volumes_root }}/homeassistant/whisper:/data"
    command: "--model tiny-int8 --language en"
    ports:
      - 10300:10300
    networks:
      - homeassistant
  piper:
    image: rhasspy/wyoming-piper:{{ homeassistant.piper_version }}
    volumes:
      - "{{volumes_root }}/homeassistant/piper:/data"
    command: "--voice en_GB-alan-medium"
    ports:
      - 10200:10200
    networks:
      - homeassistant
  openwakeword:
    image: rhasspy/wyoming-openwakeword:{{ homeassistant.oww_version }}
    volumes:
      - "{{volumes_root }}/homeassistant/oww:/data"
    command: "--preload-model 'ok_nabu'"
    ports:
      - 10400:10400
    networks:
      - homeassistant
