---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
 # Media Server
  emby:
    image: emby/embyserver:{{ emby.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/emby:/config"
      - "{{ storage_dir }}/Music:/mnt/media/Music"
      - "{{ storage_dir }}/Video/Movies:/mnt/media/Movies"
      - "{{ storage_dir }}/Video/TV:/mnt/media/TV"
      - "{{ storage_dir }}/temp/transcode:/config/transcoding-temp"
    labels:
      - "traefik.http.services.emby.loadbalancer.server.scheme=http"
      - "traefik.http.services.emby.loadbalancer.server.port=8096"
{% include './labels.j2' %}
