---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  navidrome:
    image: deluan/navidrome:{{ navidrome.version }}
    volumes:
      - "{{ volumes_root }}/navidrome/config:/data"
      - "{{ storage_dir }}/data/media/Music:/music:ro"
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - UMASK=022
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.navidrome.loadbalancer.server.scheme=http"
      - "traefik.http.services.navidrome.loadbalancer.server.port=4533"
{% include './labels.j2' %}
