---
# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: sabnzbd/sabnzbd:{{ sabnzbd.version }}
    restart: unless-stopped
    environment:
      - SABNZBD_UID={{ uid_output.stdout }}
      - SABNZBD_GID={{ gid_output.stdout }}
      - HOST_WHITELIST_ENTRIES="{{ sabnzbd.subdomain }}.{{ domain }}"
    volumes:
      - "{{ volumes_root }}/sabnzbd/datadir:/datadir"
      - "{{ storage_dir }}:/media"
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.sabnzbd.loadbalancer.server.scheme=http"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
{% include './labels.j2' %}
