---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik

services:
  ombi:
    networks:
      - traefik_network
    image: linuxserver/ombi:{{ ombi.version }}
    environment:
      - UID={{ uid_output.stdout }}
      - GID={{ gid_output.stdout }}
      - TZ={{common_timezone}}
    volumes:
      - "{{ volumes_root }}/ombi/config:/config"
    restart: unless-stopped
    labels:
      - "traefik.http.services.ombi.loadbalancer.server.scheme=http"
      - "traefik.http.services.ombi.loadbalancer.server.port=5000"
{% include './labels.j2' %}
