---
networks:
  traefik_network:
    external: true
    name: homelabos_traefik
  invidious:

services:
  invidious-db:
    image: docker.io/library/postgres:{{ invidious.db_version }}
    restart: unless-stopped
    networks:
      - invidious
    volumes:
      - "{{ volumes_root }}/invidious/postgres:/var/lib/postgresql/data"
      - "{{ volumes_root }}/invidious/config/sql:/config/sql"
      - "{{ volumes_root }}/invidious/config/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh"
    environment:
      - POSTGRES_DB=invidious
      - POSTGRES_USER=invidious
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/invidious_db_password chars=ascii_letters')}}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]

  invidious:
    image: quay.io/invidious/invidious:{{ invidious.version }}
    restart: unless-stopped
    networks:
      - invidious
      - traefik_network
    environment:
      # https://github.com/iv-org/invidious/blob/master/config/config.example.yml
      INVIDIOUS_CONFIG: |
        db:
          dbname: invidious
          user: invidious
          password: {{lookup('password', './settings/passwords/invidious_db_password chars=ascii_letters')}}
          host: invidious-db
          port: 5432
        check_tables: true
        hmac_key: "{{lookup('password', './settings/passwords/invidious_hmac_key chars=ascii_letters')}}"
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/comments/jNQXAC9IVRw || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    depends_on:
      - invidious-db
    labels:
      - "traefik.http.services.invidious.loadbalancer.server.scheme=http"
      - "traefik.http.services.invidious.loadbalancer.server.port=3000"
{% include './labels.j2' %}
